# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
.env
staticfiles/
media/

# Virtual environment
venv/

# VSCode / JetBrains IDEs
.idea/
.vscode/